.THIS .containerTable {
    margin-top: 300px !important;
}
.THIS .Divdimentions{
   /* height: 70%;
    width: 90%;*/
    background-color: lightgrey !important;
}
.THIS .fsize {
    font-size: 140% !important;
}
.THIS .Headersize {
    font-size: 100% !important;
}
.THIS .dropContent{
    border-radius: 82px;
    padding: 73px 100px;
    border: 1px dashed #060606;
    background-color: #dedede;
}