.THIS .wrapper{
   /* height: 70%;
    width: 90%;*/
    background-color: lightgrey !important;
}
.THIS .Divdimentions{
    /*height: 70%;
    width: 90%;*/
    background-color: lightgrey !important;
}
.THIS .imagecross {
    position: relative;
    /* apply background-image url inline on the element since it is part of the content */
    background: transparent url("") no-repeat center center;
    cursor: pointer;
}

.THIS .imagecross a {
    display: none;
    position: absolute;
    top: 2px;
    /* position in bottom right corner, assuming image is 16x16 */
    left: 126px;
    width: 22px;
    height: 22px;
    background: black url('http://infostart.ru/upload/iblock/caf/error2.png') no-repeat 0 0;
}

.THIS .imagecross:hover a {
    display: block;
}